* {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.controls {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}