* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
  background-color: #0000004d;
  border-radius: 3px;
  margin: 25px;
  /* height: 485px; */
  max-width: 500px;
  padding: 25px;
  position: relative;
}

.controls {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#youtube-url {
  border: none;
  border-radius: 3px;
  padding: 13px;
  margin: 10px 0px 10px 0px;
}

#action-bar {
  display: flex;
  justify-content: space-between;
}

#nav a {
  text-decoration: none;
  color: black;
  font-family: 'Staatliches', cursive;
  font-weight: 300;
}

.download a {
  width: 100%;
  margin: 0px 5px;
  text-decoration: none;
  padding: 10px;
  background-color: #0000002b;
  color: black;
  border-radius: 3px;
  animation: gradient 5s ease infinite;
  transition: top ease-in-out 0.1s;
}
.download a:hover {
  background: #00000073;
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
.btn-format {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  background-color: #0000002b;
  color: white;
  border-radius: 3px;
  border: none;
  animation: gradient 5s ease infinite;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.btn-format:hover {
  background: linear-gradient(-45deg, #a5e7e9, #f3b069, #db98fc, #c7f3e9);
	background-size: 400% 400%;
}

.active {
  background: linear-gradient(-45deg, #a5e7e9, #f3b069, #db98fc, #c7f3e9);
  background-size: 400% 400%;
}

#youtube-url:focus-within {
  outline: 4px solid linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

#disclaimer {
  padding-top: 20px;
  font-size: 12px;
  font-weight: 700;
}

#btn-convert {
  cursor: pointer;
  position: relative;
  top: 0;
  padding: 10px;
  color: white;
  /* border: 1px solid #0000007a; */
  border-radius: 3px;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #a5e7e9, #f3b069, #db98fc, #c7f3e9);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  border: none;
  transition: top ease-in-out 0.1s;
}

#btn-convert:hover {
  top: -2px;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 520px) {
  .download a {
    padding: 10px 10px;
    font-size: 14px;
  }
}


/* Force styles after removal of stylesheet */
/* .flex .mx-auto .items-center .justify-center {
  width: 100%;
} */

.download a:first-child {
  margin-left: 0px;
}
.download:last-child a {
  margin-right: 0px;
}

.download {
  display: flex;
  margin-top: 25px;
}

